
.contactSection{
    padding-left: 80px;
}

.formStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 26px;
}

.contact{
    font-size: 80px;
    color: rgb(99, 57, 57);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.hrLine{
    width: 80%;
    padding-bottom: 60px;
}

.inputStyle{
    height: 52px;
    width: 80%;
    border: 2px solid transparent;
    padding: 26px;
}

.textareaStyle{
    width: 80%;
    height: 340px;
    border: 2px solid transparent;
    padding: 26px;
   
   
}

.btnStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 37);
    width: 80px;
    /* text-align: center; */
    border: 1px solid transparent;
    border-radius: 20px;
    height: 40px;
    color: white;
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;

}

.textColor{
    color: rgb(29, 28, 28);
}