.why-choose-me-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    background-color: rgb(5, 5, 43);
    padding-left: 120px;
    padding-right: 120px;
}

.icon{
    width: 60px;
    height: 60px;
    color: white;
    margin-bottom: 20px;
   
}

.why-choose-me-section >div > p{
font-size: 18px;
color: white;
font-weight: 600;
}

.why-choose-me-section >div{
    display: flex;
    align-items: center;
    flex-direction: column;
}